* {
  box-sizing: border-box;
}

#catalogue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  flex-wrap: wrap;
  opacity: 0;
  animation-name: montexte;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

/* 2 de mes jeux */
.tbl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  max-width: 100%;
}

/* c'est un jeu */
.tableau {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 15px;
  font-size: 20px;
}

.tableau p{
  font-size: 5%;
}
/* mon image de jeu et mon titre */
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

/* mon image de jeu */
.jeu {
  width: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

/* les réseaux sociaux */
.sociaux {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.soc {
  width: 50px;
}

/* mon bouton */
.bouton {
  width: 130px;
  border-radius: 25px;
  background-color: black;
  border: 2px solid white;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none;
}

/* mon pied de page */
footer {
  color: #ffffff;
  max-width: 100%;
  height: auto;
  width: 100%;
}

#foot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background-color: transparent;
  padding: 2rem;
}

@keyframes montexte {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 400px) {
  body {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  header {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #categorie {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .tbl {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    max-width: 100%;
  }

  .tableau {
    max-width: 100%;
    width: 100%;
  }

  .article {
    max-width: 100%;
    width: 100%;
  }

  .jeu {
    max-width: 100%;
    width: 100%;
  }

  footer {
    max-width: 100%;
    width: 100%;
  }

  #foot {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 780px) {
  body {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  header {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #categorie {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .tbl {
    max-width: 100%;
    width: 100%;
  }

  .tableau {
    max-width: 100%;
    width: 100%;
  }

  .article {
    max-width: 100%;
    width: 100%;
  }

  .jeu {
    max-width: 100%;
    width: 100%;
  }

  footer {
    max-width: 100%;
    width: 100%;
  }

  #foot {
    display: flex;
    flex-direction: column;
  }
}
