* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
  max-width: 100%;
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.05);
  border: #ffffff solid;
  padding: 16px;
  min-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 32px;
  flex-direction: column;
  max-width: 800px;
}

/* mon formulaire */
.place {
  flex-direction: column;
  top: 25%;
}

/* gérer tous mes elements */
.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 700px;
  padding: 50px;
}

/* nom */
.titre {
  font-size: x-large;
}

/* mon message */
textarea {
  resize: none;
  padding-bottom: 200px;
  width: 100%;
}

/* groupe mon message et mon bouton */
.env {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

/* mon bouton */
.envoyer input {
  padding: 10px;
  border-radius: 20px;
}

.envoyer input:hover {
  background-color: rgb(255, 132, 0);
}

.envoyer {
  display: flex;
  justify-content: center;
}

/* mon pied de page */
footer {
  color: #ffffff;
  max-width: 100%;
  height: auto;
  width: 100%;
}

#foot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background-color: transparent;
  padding: 2rem;
}
@media screen and (max-width: 400px) {
  body {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  header {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  textarea {
    max-width: 100%;
    width: 100%;
    padding: 0px;
  }

  .contact {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }

  .jeu {
    max-width: 100%;
    width: 100%;
  }

  .place {
    max-width: 100%;
    width: 100%;
  }

  .titre {
    max-width: 100%;
    width: 100%;
  }

  .form {
    max-width: 100%;
    width: 100%;
  }

  footer {
    max-width: 100%;
    width: 100%;
  }

  #foot {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 780px) {
  body {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  header {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  textarea {
    max-width: 100%;
    width: 100%;
    padding: 0px;
  }

  .contact {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }

  .jeu {
    max-width: 100%;
    width: 100%;
  }

  .place {
    max-width: 100%;
    width: 100%;
  }

  .titre {
    max-width: 100%;
    width: 100%;
  }

  .form {
    max-width: 100%;
    width: 100%;
  }

  footer {
    max-width: 100%;
    width: 100%;
  }

  #foot {
    display: flex;
    flex-direction: column;
  }
}
