* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
  max-width: 100%;
  height: auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 16px 0;
}
/* ma tete de page  */
header {
  margin: 1rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* replacé tous mes elements */
nav {
  font-size: 20px;
  position: absolute;
  background-color: #333232;
  padding: 0.5rem;
  border-radius: 25px;
  max-width: 100%;
}

/* c'est le logo  */

#ogol {
  width: 20%;
}

/* les 2 liens */
.btn {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem !important;
  z-index: 1;
}

.tnb {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:25px;
  max-width: 100%;
}
