
@media screen and (max-width: 400px) {
  body {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .hero {
    display: flex;
    flex-direction: column;
  }

  .ogol {
    max-width: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .cta {
opacity: 0;
  }

  .tnb{
    padding: 2px;
  }
  header {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #categorie1 {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .tbl {
    max-width: 100%;
    width: 100%;
  }

  .tableau {
    max-width: 100%;
    width: 100%;
  }

  .article {
    max-width: 100%;
    width: 100%;
  }

  .jeu {
    max-width: 100%;
    width: 100%;
  }
  footer {
    max-width: 100%;
    width: 100%;
  }

  #foot {
    display: flex;
    flex-direction: column;
  }
}

@keyframes montexte {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 780px) {
  body {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  header {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .cta{
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }

  .cta h1{
        font-size: 25px;
  }

  #categorie1 {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .tbl {
    max-width: 100%;
    width: 100%;
  }

  .tableau {
    max-width: 100%;
    width: 100%;
  }

  .article {
    max-width: 100%;
    width: 100%;
  }

  .jeu {
    max-width: 100%;
    width: 100%;
  }

  footer {
    max-width: 100%;
    width: 100%;
  }

  #foot {
    display: flex;
    flex-direction: column;
  }
}
