* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
  max-width: 100%;
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
    align-items: center;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 16px 0;
}
/* ma tete de page  */
header {
  position: relative;
  background-color: transparent;
  max-width: 100%;
  width: 100%;
}
/* la video de mon jeu vitrine */
.headerVideo {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* le logo et les liens */
.hero {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
/* mon patch */
.cta {
  position: absolute;
  font-size: 1rem;
  bottom: 0px;
  left: 0px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.cta__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  align-items: center;
}

.cta__content p {
  margin: 0;
}

.topnav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#ogol {
  width: 25%;
}

/* les 4 liens */

.tnb {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  font-size: larger;
  padding: 10px;
}

.buttum {
  border-radius: 25px;
  border: 2px solid white;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px 32px;
  text-decoration: none;
  display: inline-block;
}
/* mon main */
#categorie1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  flex-wrap: wrap;
  max-width: 100%;
  height: auto;
  width: 100%;
  opacity: 0;
  animation-name: montexte;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  position: relative;
}

/* 2 de mes jeux */
.tbl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

/* c'est un jeu */
.tableau {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 15px;
  font-size: 20px;
}

/* mon image de jeu et mon titre */
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

/* mon image de jeu */
.jeu {
  width: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* les réseaux sociaux */
.sociaux {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.soc {
  width: 50px;
}

/* mon bouton */
.bouton {
  width: 130px;
  border-radius: 25px;
  background-color: black;
  border: 2px solid white;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none;
}

/* mon pied de page */
footer {
  color: #ffffff;
  max-width: 100%;
  height: auto;
  width: 100%;
}

#foot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background-color: transparent;
  padding: 2rem;
}
@media screen and (max-width: 400px) {
  body {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .hero {
    display: flex;
    flex-direction: column;
  }

  .ogol {
    max-width: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .cta {
    position: static;
  }

  .tnb{
    padding: 2px;
  }
  header {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #categorie1 {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .tbl {
    max-width: 100%;
    width: 100%;
  }

  .tableau {
    max-width: 100%;
    width: 100%;
  }

  .article {
    max-width: 100%;
    width: 100%;
  }

  .jeu {
    max-width: 100%;
    width: 100%;
  }
  footer {
    max-width: 100%;
    width: 100%;
  }

  #foot {
    display: flex;
    flex-direction: column;
  }
}

@keyframes montexte {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 780px) {
  body {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  header {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .cta{
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }

  .cta h1{
        font-size: 25px;
  }

  #categorie1 {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .tbl {
    max-width: 100%;
    width: 100%;
  }

  .tableau {
    max-width: 100%;
    width: 100%;
  }

  .article {
    max-width: 100%;
    width: 100%;
  }

  .jeu {
    max-width: 100%;
    width: 100%;
  }

  footer {
    max-width: 100%;
    width: 100%;
  }

  #foot {
    display: flex;
    flex-direction: column;
  }
}
