* {
  box-sizing: border-box;
}

body {
  background-color: black;

  margin: 0;
  max-width: 100%;
  height: auto;
  width: 100%;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0 0 16px 0;
}
/* ma tete de page  */
header {
  background-color: transparent;
  max-width: 100%;
  width: 100%;
  padding-bottom: 50px;
}

/* replacé tous mes elements */
nav {
  font-size: 20px;
  position: absolute;
  left: 45%;
  top: 1rem;
  background-color: #333232;
  border: 2px solid rgb(49, 48, 48);
  padding: 0.5rem;
  border-radius: 25px;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
}

/* c'est le logo  */
#logo {
  position: absolute;
  top: 0px;
  width: 150px;
  z-index: 1;
}

#ogol {
  width: 200px;
}

/* les 2 liens */
.btn {
  color: rgb(255, 255, 255);

  display: flex;

  gap: 3rem !important;
  z-index: 1;
}

.tnb {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.headerVideo {
  position: relative;
  width: 100%;
  /* z-index: 0; */
}

.cta {
  position: absolute;
  font-size: 50px;
  bottom: 0%;
  left: 14%;
  transform: translateX(-50%);
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem 2rem;
  text-align: center;
}
/* la page index */
/* c'est le main */
#categorie {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  flex-wrap: wrap;
  max-width: 100%;
  height: auto;
  width: 100%;
  opacity: 0;
  /* padding-bottom: 50px; */
  animation-name: montexte;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

/* 2 de mes jeux */
.tbl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

/* c'est un jeu */
.tableau {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 15px;
  font-size: 20px;
}

/* mon image de jeu et mon titre */
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

/* mon image de jeu */
.jeu {
  width: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* les réseaux sociaux */
.sociaux {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.soc {
  width: 50px;
}

/* mon bouton */
.bouton {
  width: 130px;
  border-radius: 25px;
  background-color: black;
  border: 2px solid white;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none;
}

/* la page contact */

/* mon main */
.contact {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.05);
  border: #ffffff solid;
  padding: 16px;
  min-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 32px;
  flex-direction: column;
  max-width: 800px;
}

/* mon formulaire */
.place {
  flex-direction: column;
  top: 25%;
}

/* gérer tous mes elements */
.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 700px;
  padding: 50px;
}

/* nom */
.titre {
  font-size: x-large;
}

/* mon message */
textarea {
  resize: none;
  padding-bottom: 200px;
  width: 100%;
}

/* groupe mon message et mon bouton */
.env {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

/* mon bouton */
.envoyer input {
  padding: 10px;
  border-radius: 20px;
}

.envoyer input:hover {
  background-color: rgb(255, 132, 0);
}

.envoyer {
  display: flex;
  justify-content: center;
}

/* mon pied de page */
footer {
  color: #ffffff;
  max-width: 100%;
  height: auto;
  width: 100%;
}

#foot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background-color: transparent;
  padding: 2rem;
}

@media screen and (max-width: 780px) {
  body {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  header {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .categorie {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  textarea {
    max-width: 100%;
    width: 100%;
    padding: 0px;
  }

  .page {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .accueil {
    max-width: 100%;
    width: 100%;
  }

  .box {
    max-width: 100%;
    width: 100%;
  }

  .n {
    max-width: 100%;
    width: 100%;
  }

  .accueil {
    max-width: 100%;
    width: 100%;
  }

  .contact {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }

  .tbl {
    max-width: 100%;
    width: 100%;
  }

  .tableau {
    max-width: 100%;
    width: 100%;
  }

  .article {
    max-width: 100%;
    width: 100%;
  }

  .jeu {
    max-width: 100%;
    width: 100%;
  }

  .place {
    max-width: 100%;
    width: 100%;
  }

  .titre {
    max-width: 100%;
    width: 100%;
  }

  .form {
    max-width: 100%;
    width: 100%;
  }

  footer {
    max-width: 100%;
    width: 100%;
  }

  #foot {
    display: flex;
    flex-direction: column;
  }
}

@keyframes montexte {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  header {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .categorie {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  textarea {
    max-width: 100%;
    width: 100%;
    padding: 0px;
  }

  .page {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .contact {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    margin-top: 50px;
  }

  .tbl {
    max-width: 100%;
    width: 100%;
  }

  .tableau {
    max-width: 100%;
    width: 100%;
  }

  .article {
    max-width: 100%;
    width: 100%;
  }

  .jeu {
    max-width: 100%;
    width: 400px;
    height: auto;
  }

  footer {
    max-width: 100%;
    width: 100%;
  }

  #foot {
    display: flex;
    flex-direction: column;
  }
}
